body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background-color: #eee;
}

.reset {
  align-self: center;
  font-family: sans-serif;
  font-weight: bold;
  color: #ddd;
  font-size: 30px;
  height: 60px;
  width: 300px;
  border: 5px solid #ddd;
  border-radius: 10px;
}

.container {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(16, 50px);
  grid-template-rows: repeat(16, 50px);
}

.container > div {
  background-color: white;
}

.hovering {
  border: 5px solid orange;
}
